.site-nav {

	ul {
		@include cf;
		list-style: none;
		line-height: 1;
		text-align: center;
	}

	li {
		@include soft--sides($base-spacing-unit / 4);
		display: inline-block;

		&:first-child {
			@include flush--top;
		}

		@include mq("tablet-small") {
			@include push--left($base-spacing-unit / 1.5);
			@include hard--sides;
			float: left;

			&:first-child {
				@include flush--left;
			}

		}
	}

	a {
		font-weight: $w-normal;
	}
}