/*--------------------------------

	Box sizing

*/

* {

	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}



/*--------------------------------

	Basic document styling

*/

html {
	font-size: 8px;
	min-height: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: none;

	@include mq("phone-wide") {
		font-size: 10px;
	}

	// @include mq("tablet-small") {
	// 	font-size: 10px;
	// }

	// @include mq("tablet") {
	// 	font-size: 11px;
	// }

	@include mq("desktop") {
		font-size: 12px;
	}
}

body {
	background-color: $c-body-bg;
	color: $c-body-colour;
	font-family: $sans-serif;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

.site-wrapper {
	height: 100%;
}


/*--------------------------------

	Text selection/highlighting

*/

@include selection {
	background: $c-brand-primary;
	color: $c-white;
	text-shadow: none;
}