.site-header {
	@include soft--ends($base-spacing-unit / 1.5);
	background-color: $c-black;
	color: $c-white;
	z-index: z('site-header');

	a {
		color: $c-white;
	}

	&__title {}

	&__nav-trigger {
		display: none;
	}

	&__nav {
		@include push--top($base-spacing-unit / 2);
	}

	@include mq("tablet-small") {
		@include soft--ends($base-spacing-unit / 1.2);

		> * {
			@include cf;
		}

		.site-title {
			float: left;
		}

		.site-nav {
			@include flush--top;
			float: right;
		}
	}
}